<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% block title %}<title>Multivac</title>{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/shop-style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
    {% endblock %}
</head>
<body>
<main>
    <header>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-6 inner-clear-padding">
                <div class="col-3 clear">
                    <img src="{{ asset("Resources/Images/logo.png") }}">
                </div>
                <div class="col-6 clear">

                </div>
            </div>
            <div class="col-3">
                <div class="cart-bar">
                    <span>0 прод</span>|<span>0,00лв.</span>
                    <div class="cart-btn">
                    <a href="#" class="navbar-link">
                        <img src="{{ asset("Resources/Images/cart.png") }}"> Кошница </a>
                    </div>
                </div>
                <div class="search-form">
                    <form>
                        <input type="text" name="search">
                        <a href="#" class="search-button">Търси</a>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 inner-clear-padding" style="padding: 0">
                <div class="col-5">
                    <p>Добре дошли в нашият онлайн магазин</p>
                </div>
                <div class="col-5 ">
                </div>
                <div class="col-2 ">
                    <ul class="navbar-list ">
                        <li><a href="#" class="authentication-link">Регистрация</a>
                        </li>
                        <li><a href="#" class="authentication-link">Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-12 navbar-background" style="padding: 0">
                <div class="col-2"></div>
                <div class="col-8" style="padding: inherit;">
                    <div class="col-1" style="padding: 0;"><a href="#"><img
                                    src="{{ asset("Resources/Images/ico-home.png") }}"></a>
                    </div>
                    <div class="col-8">
                        <ul class="navbar-list">
                            <li><a href="#" class="navbar-link">промоции</a></li>
                            <li><a href="#" class="navbar-link">камерни машини</a></li>
                            <li><a href="#" class="navbar-link">консумативи</a></li>
                            <li><a href="#" class="navbar-link">компактни термоформи</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="navbar-list">
                            <li><a href="#" class="navbar-link">Сертификати</a></li>
                            <li><a href="#" class="navbar-link">Контакти</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 home-banner">
                <h4>
                    Трейсилър Т 700
                </h4>
                <h3>
                    Гъвкав и лесен за работа.
                </h3>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 inner-clear-padding">
                <div class="col-4 clear">
                    <a href="#">
                        <img src="{{ asset("Resources/Images/banner.png") }}"></a></div>
                <div class="col-4 clear"><a href="#">
                        <img src="{{ asset("Resources/Images/banner.png") }}"></a></div>
                <div class="col-4 clear "><a href="#">
                        <img src="{{ asset("Resources/Images/banner.png") }}"></a></div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% for single in merchandise %}
                    <div class="col-3">
                    <span>{{ single.name }}
                    </span>
                        <img src="{{ single.image }}">
                        <p>&#36;{{ single.price }}<a href="#"><img
                                        src="{{ asset("Resources/Images/add-to-cart.png") }}"></a></p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-2"></div>
        </div>
    </main>
    <div class="col-12">
        <hr>
    </div>
    <footer>
        <div class=" row">
            <div class="col-5">
                <div class="contact-info">
                    <span>За нас </span>|<span>как да поръчам </span>|<span>Начин на доставка</span>|<span>Условия за ползване</span>|<span>Контакти</span>
                    <p>&copy All rights reserverd</p>
                    <p>Designed bt Ryzn</p>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-3">
                <div class="buletin">
                    <h3>Бюлетин</h3>
                    <form>
                        <input type="text" name="buletin">
                        <a href="#">
                            <img src="{{ asset('Resources/Images/btn-newsletter.png') }}"> </a>
                    </form>
                </div>
            </div>
        </div>
    </footer>

</main>
{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}
</body>
</html>